client/src/main/resources/wsdl/PersonJaxWsEndpoint.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://jaxws.person.web.study/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PersonJaxWsEndpointService"
                  targetNamespace="http://jaxws.person.web.study/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaxws.person.web.study/"
                   elementFormDefault="unqualified" targetNamespace="http://jaxws.person.web.study/" version="1.0">
            <xs:element name="list" type="tns:list"/>
            <xs:element name="listResponse" type="tns:listResponse"/>
            <xs:element name="newPersonCommandDTO" type="tns:newPersonCommandDTO"/>
            <xs:element name="personDTO" type="tns:personDTO"/>
            <xs:element name="save" type="tns:save"/>
            <xs:element name="saveResponse" type="tns:saveResponse"/>
            <xs:complexType name="save">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:newPersonCommandDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="newPersonCommandDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="saveResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:personDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="registerDateTime" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="version" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="list">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="listResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:personDTO"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="save">
        <wsdl:part element="tns:save" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveResponse">
        <wsdl:part element="tns:saveResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part element="tns:listResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="list">
        <wsdl:part element="tns:list" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonJaxWsEndpoint">
        <wsdl:operation name="save">
            <wsdl:input message="tns:save" name="save"></wsdl:input>
            <wsdl:output message="tns:saveResponse" name="saveResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:list" name="list"></wsdl:input>
            <wsdl:output message="tns:listResponse" name="listResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonJaxWsEndpointServiceSoapBinding" type="tns:PersonJaxWsEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="save">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="save">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="list">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonJaxWsEndpointService">
        <wsdl:port binding="tns:PersonJaxWsEndpointServiceSoapBinding" name="PersonJaxWsEndpointPort">
            <soap:address location="http://localhost:8080/web/PersonJaxWsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>